.LanguageBox {
  position: relative;
}
.lang_btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.lang_fig_img_btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.lang_fig_img_btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lang_list {
  position: absolute;
  top: 100%;

  right: 44%;

  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 16px;
  background-color: var(--Atext-color2);

  width: 4rem;

  z-index: 50;
}

.lang_list li {
  cursor: pointer;
}

.lang_list li:first-child {
  margin-top: 1rem;
}

.lang_list li:last-child {
  margin-bottom: 1rem;
}

.lang_list li:not(:first-child) {
  border-top: thin solid var(--Atext-color3);

  padding-top: 1rem;
}

@media screen and (max-width: 1340px) {
  .lang_list {
    right: 50%;
  }
}

@media screen and (max-width: 1240px) {
  .lang_list {
    right: 60%;
  }
}


@media screen and (max-width: 1170px) {
   .lang_fig_img_btn {
    margin-top: 3px;
    width: 2.3rem;
    height: 2.3rem;
  } 
}

@media screen and (max-width: 1140px) {
  .lang_list {
    right: 50%;
  }
}

@media screen and (max-width: 1040px) {
  .lang_list {
    right: 80%;
  }
  .lang_fig_img_btn {
    width: 2rem;
    height: 2rem;
    margin-top: 5px;
  }
  .lang_list {
    margin-top: 10px;
    width: 3rem;
  }
}

@media screen and (max-width: 940px) {
  .lang_list {
    right: 90%;
  }
}

