.navbar {
    display: flex;
    justify-content: space-between;
    padding: 44px 5%;
    background-color: var(--box-color3);
    margin: 2% 2% 0 2%;
    position: relative;
}

.navigation {
    align-items: center;
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.navigation li {
    display: inline-block;
}
.navigation img{
    cursor: pointer;
}
.navigation li a {
    font-family: var(--font-roboto);
    color: var(--text-color2);
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 22px;
}

.navigation li a:hover {
    border-bottom: 2px solid #d63626;
}

.menuBar {
    display: none;
}

.userTrue {
    display: flex;
    width: 21%;
    justify-content: space-between;
    align-items: center;
}

.userTrue img {
    width: 2.5rem;
    height: 2.6rem;
    border-radius: 50%; 
    cursor: pointer;
}



.search {
    display: flex;
    justify-content: space-between;
    width: 42%;
    position: relative;
}

.search input {
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    width: 300px;
}

.search input::placeholder {
    font-family: var(--font-roboto);
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
}

.search .signupBtn {
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: var(--button-color1);
    border: none;
    border-radius: 30px;
    color: white;
    width: 115px;
    transition: all .5s;
}

.search .signupBtn:hover {
    box-shadow: 3px 0px 16px 3px #f42020;
    border: 1px solid #f42020;
    background-color: white;
    color: red;
}

button,
li {
    cursor: pointer;
}


/*        Css Media          */
@media only screen and (min-width: 1441px) {
    .navigation li a{
        font-size: 1.2rem;
    }
    .userTrue img{
        width: 2.7rem;
        height: 2.7rem;
    }
}

@media only screen and (max-width: 1402px){
    .navigation li a {
        font-weight: 600;
        margin-left: 15px;
    }
}
@media only screen and (max-width: 1362px) {
    .search input {
        width: 260px;
    }

    .userTrue {
        width: 23%;
    }
}

@media only screen and (max-width: 1320px) {
    .navigation li a {
        font-size: 15px;
        margin-left: 17px;
    }
}

@media only screen and (max-width: 1250px) {
    .userTrue {
        width: 24%;
    }

    .search input {
        width: 240px;
    }

    .search input::placeholder {
        font-size: 14px;
        line-height: 16px;
    }
     .navigation img:first-child {
        width: 90px;
    }
}

@media only screen and (max-width: 1193px) {
     .navigation li a {
        margin-left: 12px;
    } 
}
@media only screen and (max-width: 1160px) {
    .userTrue {
        width: 25%;
    }

    .search input {
        width: 210px;
    }
    .navigation img:first-child {
        width: 77.5px;
    }
}

@media only screen and (max-width: 1105px) {
    .navigation li a {
      font-size: 14px;
    }

    .userTrue img {
        width: 2.3rem;
        height: 2.3rem;
    }

    .search input::placeholder {
        font-size: 12px;
        line-height: 14px;
    }

    .search .signupBtn {
        width: 85px;
        font-size: 13px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 1060px) {
    .navigation li a {
        font-size: 13px;
        margin-left: 8.5px;
    }

    .search input {
        width: 190px;
    }

    .search input::placeholder {
        line-height: 11px;
    }

    .userTrue img {
        width: 2.2rem;
        height: 2.2rem;
    }
}
@media only screen and (max-width: 966px) {
    .navigation img:first-child {
        width: 75px;
    }
    .navigation li a{
        font-size: 12.5px;
    }
}
@media only screen and (max-width: 930px) {
    .navbar {
        padding: 35px 5%;
    }

    .navigation {
        width: 54%;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .navigation ul {
        display: none;
    }
  .userTrue{
        display: none;
    }
    .signupBtn{
        display: none;
    }
    .search {
        width: 40%;
        align-items: center;
    }

    .search input {
        width: 80%;
    }
    .search input::placeholder {
        font-size: 15px;
    }
    .menuBar {
        display: block;
        width: 37px;
        margin-right: 7px;
    }
    .navigation img:first-child {
        width: 85px;
    }
  
}

@media only screen and (max-width: 768px) {
    .navbar {
        margin: 0;
    }

    .navigation img:first-child {
        width: 73px;
    }

    .search {
        width: 45%;
    }
}


@media only screen and (max-width: 630px) {
    .search {
        width: 49%;
    }

    .search input::placeholder {
        font-size: 12px;
        line-height: 12px;
    }

}


@media only screen and (max-width:500px) {
    .search {
        width: 65%;
    }
    .navigation img:first-child {
        width: 70px;
    }
    .menuBar {
        width: 33px;
    }
}

@media only screen and (max-width:392px) {
    .navbar {
        padding: 27px 5%;
    }

    .search input {
        display: none;
    }

    .search {
        justify-content: flex-end;
    }
}