.restaurants {
    margin: 1% 2% 6% 2%;
    display: flex;
    justify-content: space-between;
}

.restaurant {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: .7rem;
    cursor: pointer;
}

.restaurant:hover {
    background-color: #f0e1e2;
}

.restList {
    background-color: var(--box-color3);
    padding: 2.5rem 1.5rem;
    width: 255px;
    height: 800px;
}

.scroll {
    overflow-y: auto;
    max-height: 700px;
}

.scroll::-webkit-scrollbar {
    width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #D63626;
}

.restList img {
    width: 15%;
    margin-right: 15px;
}

.restName {
    font-family: var(--font-mukta);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #333333;
}

.cards {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5px;
    margin-block: .6rem;
}

.card {
    background-color: white;
    font-family: var(--font-roboto);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1.1rem;
    font-family: var(--font-roboto);
    margin-bottom: 30px;
    width: 22%;
    height: 340px;
    margin-inline: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 80%;
    margin: 0 auto;
}

.cardTitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: var(--text-color3);
}

.card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: var(--text-color2);
}

.delivery {
    font-size: 16px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.03em;
    color: var(--text-color3);

}

.time {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: white;
    background-color: var(--button-color1);
    border-radius: 30px;
    width: 80px;
    padding-block: 6px;
    text-align: center;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter {
    display: none;
}

.closeModal {
    display: none;
}

@media only screen and (min-width: 1441px) {
    .card {
        height: auto;
    }
    .restList{
        width: 90%;
    }
    .restaurant p{
        font-size: 1.5rem;
    }
    .delivery{
        font-size: 19px;
    }
    .card img{
        width: 68%;
    }
    .cardTitle{
        font-size: 25px;
    }
    .card p{
        font-size: 19px;
    }
}
@media only screen and (max-width: 1305px) {
    .cardFooter {
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .delivery {
        line-height: 35px;
    }

    .time {
        width: 90%;
        padding-block: 3px;
        font-size: 14px;
    }
    .card{
        height: 340px;
        justify-content: space-evenly;
    }
    .card img{
        width: 74%;
    }
}
@media only screen and (max-width: 1250px) {
    .card{
        justify-content: space-evenly;
        height: 320px;
    }
    .cardTitle {
        line-height: 27px;
    }

    .card p {
        line-height: 24px;
    }
}


@media only screen and (max-width: 1135px) {
    .card {
        height: auto;
        padding: 1.1rem .5rem;
    }

    .card img {
        width: 64%;
    }

    .cardTitle {
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }

    .card p {
        font-size: 13px;
        line-height: 24px;
        text-align: center;
    }

    .cardFooter {
        flex-direction: column;
        justify-content: flex-start;
    }

    .delivery {
        line-height: 40px;
    }

    .time {
        width: 90%;
        padding-block: 3px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 1075px) {
    .card {
        width: 28%;
        margin-inline: 2.5%;
    }

    .card img {
        width: 66%;
    }
}

@media only screen and (max-width: 921px) {

    .card img {
        width: 60%;
    }

    .cardTitle {
        font-size: 15px;
    }

    .card p {
        font-size: 12px;
        line-height: 20px;
    }

    .delivery {
        font-size: 13px;
        line-height: 24px;
    }

    .time {
        font-size: 12px;
        padding-block: 2px;
        width: 80%;
    }

    .restList {
        width: 220px;
    }
}

@media only screen and (max-width: 770px) {
    .card {
        width: 31%;
        margin-inline: 1%;
    }

    .card img {
        width: 56%;
    }

    .cardTitle {
        font-size: 14px;
    }

    .card p {
        font-size: 11px;
        line-height: 16px;
    }

    .delivery {
        font-size: 11px;
    }

    .time {
        font-size: 11px;
        padding-block: 1px;
        width: 78%;
    }

    .restList {
        width: 205px;
    }
}

@media only screen and (max-width: 670px) {
    .card {
        width: 42%;
        margin-inline: 3%;
    }
}

@media only screen and (max-width: 577px) {
    .card {
        width: 46%;
        margin-inline: 2%;
    }

    .cards {
        margin-inline: auto;
    }

    .modalBg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 5;
    }

    .restList {
        position: fixed;
        background-color: white;
        color: black;
        font-family: var(--font-roboto);
        border-radius: 20px 20px 0 0;
        font-size: 18px;
        padding: 5% 3%;
        width: 100%;
        bottom: 0;
        height: 470px;
    }

    .closeModal {
        display: block;
        width: 2rem !important;
        margin: 15px 48%;
    }

    .scroll {
        max-height: 320px;
    }

    .restName {
        font-family: var(--font-roboto);
        font-size: 18px;
        line-height: 45px;
    }

    .restaurant {
        border-bottom: 1px solid #E0E0E0;
        padding-bottom: 8px;
    }

    .filter {
        display: flex;
        background-color: white;
        box-shadow: 0px 3px 8px -2px #00000033;
        padding: 7px 0;
        justify-content: center;
        align-items: center;
        width: 88%;
        margin-inline: auto;
        margin-bottom: 20px;
    }

    .restaurants {
        margin: 10% 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .filter p {
        font-family: var(--font-mukta);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #4F4F4F;
    }
}

@media only screen and (max-width: 420px) {
    .filter {
        width: 96%;
    }

    .cards {
        width: 98%;
    }

}