.restaurants {
    margin: 1% 2% 6% 2%;
    display: flex;
    justify-content: space-between;
}

.restaurant {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.restList {
    background-color: var(--box-color3);
    padding: 4% 2%;
    width: 17%;
    /* height: 898px;
    overflow: auto; */
    overflow-y: auto;
    max-height: 840px;
}

.restList::-webkit-scrollbar {
    width: 7px;
}

.restList::-webkit-scrollbar-thumb {
    background-color: #D63626;
}

.restList img {
    width: 15%;
    margin-right: 15px;
}

.restName {
    font-family: var(--font-mukta);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #333333;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}

.card {
    background-color: white;
    font-family: var(--font-roboto);
    box-shadow: 0px 0px 5px 3px #00000040;
    padding: 1% 17px;
    font-family: var(--font-roboto);
    width: 235px;
    margin-bottom: 5%;
}

.card img {
    width: 85%;
    margin: 0 auto;
}

.cardTitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.03em;
    color: var(--text-color3);
}

.card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: var(--text-color2);
}

.delivery {
    font-size: 16px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.03em;
    color: var(--text-color3);

}

.time {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: white;
    background-color: var(--button-color1);
    border-radius: 30px;
    padding: 6px 18px;
    text-align: center;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .restList {
        width: 20%;
    }

    .cards {
        width: 75%;
    }
}


@media only screen and (max-width: 768px) {
    .restList {
        width: 25%;
        max-height: 550px;
    }

    .cards {
        width: 70%;
    }

    .card {
        width: 150px;
        padding: 1% 15px;
    }

    .card img {
        width: 64%;
        margin: 0 auto;
    }

    .cardTitle {
        font-size: 18px;
        line-height: 30px;
    }

    .card p {
        font-size: 13px;
    }

    .delivery {
        font-size: 13px;
        line-height: 22px;
    }

    .time {
        font-size: 13px;
        font-weight: 500;
        line-height: 15px;
        padding: 6px 12px;
    }

    .cardFooter {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .restName {
        font-size: 16px;
    }
}

@media only screen and (max-width: 490px) {
    .restList {
        display: none;
    }

    .restaurants {
        margin: 10% 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .filter {
        display: flex;
        background-color: white;
        box-shadow: 0px 3px 8px -2px #00000033;
        padding: 7px 0;
        justify-content: center;
    }

    .cards {
        margin-top: 35px;
        width: 100%;
    }

    .card {
        text-align: center;
        padding:2%;
        width: 160px;
    }

    .cardTitle {
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
    }

    .filter p {
        font-family: var(--font-mukta);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #4F4F4F;
    }
    .card p{
        font-size: 10px;
        line-height: 16px;
        font-weight: 400;
    }
    .time{
    padding: 3px 40px;
    }
}
@media only screen and (max-width: 320px) {
    .card {
        width: 135px;
    }
}