.cont {
    position: relative;
    margin-bottom: 26px;
    width: 100%;
}

.cont label {
    display: block;
    padding: 0 0 6px 6px;
    font-size: 16px;
    color: black;
    font-family: var(--font-roboto);
}

.inputWrapper {
    position: relative;
}

.inputField {
    width: 100%;
    padding: 12px;
    padding-right: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    background-color: #FFE7E7;
}

.eyeIcon {
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.error{
    color: red;
    font-family: var(--font-roboto);
}