.header {
    background-color: var(--box-color2);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.leftSection {
    display: flex;
    align-items: center;
}

.segmentIcon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.logoIcon {
    height: 24px;
    width: auto;
}

.flagIcon {
    width: 24px;
    height: 24px;
}

/* Медиа-запрос для экранов шире 700px */
@media (min-width: 701px) {
    .header {
        margin: 10px;
        width: calc(100% - 20px); /* Учитываем отступы слева и справа */
        border-radius: 5px; /* Добавляем скругление углов для эстетики */
    }
}

/* Медиа-запросы для адаптивности на меньших экранах */
@media (max-width: 700px) {
    .header {
        height: 50px;
        padding: 0 15px;
    }

    .segmentIcon, .logoIcon, .flagIcon {
        width: 20px;
        height: 20px;
    }

    .logoIcon {
        height: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        height: 40px;
        padding: 0 10px;
    }

    .segmentIcon, .logoIcon, .flagIcon {
        width: 18px;
        height: 18px;
    }

    .logoIcon {
        height: 18px;
    }

    .segmentIcon {
        margin-right: 10px;
    }
}