.offers {
    padding: 4% 6%;
}

.rowReverse {
    display: flex;
    flex-direction: row-reverse;
}

.promo {
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
}

.promoTxt {
    width: 55%;
}
.promoImg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;
    position: relative;
}
.promoImg img{
    position: absolute;
    z-index: 5;
}
.imgBg{
    background-color: #d63626;
    width: 370px;
    height: 480px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    transform: rotate(22deg);
}
.scaleX{
    transform: rotate(-22deg);
}
.promo h2 {
    font-family: var(--font-roboto);
    font-size: 50px;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0.03em;
    color: var(--text-color1);
}

.promo p {
    font-family: var(--font-roboto);
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--text-color2);
    width: 80%;
    margin-top: 25px;
}
/*            Media Css 1290 px         */

@media only screen and (max-width: 1290px) {
.promoTxt{
    width: 60%;
    margin-left: 40px;
}
.promoImg{
    width: 38%;
}
.promoImg img{
    width: 80%;
}
.imgBg{
    height: 390px;
    width: 300px;
}
}

/* Media Css -1210 px */

@media only screen and (max-width: 1210px) {
    .promo h2 {
        font-size: 43px;
    }
    .promo p {
        font-size: 17px;
    }
    .promoImg{
        width: 39%;
    }
    .promoTxt{
        width: 58%;
    }
    .imgBg{
        height: 300px;
        width: 260px;
    }
}


/* Media Css-  1024px */

@media only screen and (max-width: 1024px) {
    .promo h2 {
        font-size: 38px;
        line-height: 40px;
    }

    .promo p {
        font-size: 14px;
    }
    .promoTxt {
        width: 60%;
    }
    .promoImg{
        width: 38%;
    }
    .promoImg img{
        width: 100%;
    }
    .imgBg{
        height: 300px;
        width: 230px;
    }
}

/* Media Css Tablet Mode    */
@media only screen and (max-width: 768px) {
    .offers {
        padding: 2% 6%;
    }
    .promo {
        display: flex;
        justify-content: space-between;
        margin-top: 13%;
        align-items: center;
    }
    .promo h2 {
        font-size: 27px;
        line-height: 31px;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .promo p {
        font-size: 13px;
        line-height: 25px;
        text-align: center;
        margin-top: 25px;
        width: 100%;
    }
    .promoTxt{
        width: 60%;
        margin-right: 40px;
    }
    .promoImg{
        width: 39%;
    }
    .imgBg{
        height: 220px;
        width: 180px;
        border-radius: 35px;
    }
}

 /*       Media Css   -   Mobile Mode */
@media only screen and (max-width: 576px) {
    .offers {
        padding: 4% 6%;
    }
    .promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15%;
    }

    .promoTxt {
       margin: 0 auto;
        width: 90%;
    }
    .promoImg{
        width: 58%;
        margin: 15px auto;
    }
    .imgBg{
        height: 255px;
        width: 230px;
        margin-block: 20px;
    }

}

@media only screen and (max-width: 510px) {
    .imgBg{
        height: 230px;
        width: 195px;
    }
}
@media only screen and (max-width:425px) {
    .imgBg{
        height: 215px;
        width: 180px;
    }
    .promoImg{
        width: 62%;
    }
}
@media only screen and (max-width: 375px) {
    .promoTxt {
        width: auto;
    }
    .promoImg{
        width: 72%;
    }
}