.delModal {
    z-index: 5;
        background-color: rgba(0, 0, 0, 0.5); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: 220px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal h3 {
    color: black;
    font-family: var(--font-openSans);
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
}

.modal p {
    font-family: var(--font-openSans);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 60%;
    color: var(--text-color3);
}

.cancel {
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--text-color5);
    background-color: transparent;
    border: 2px solid #BDBDBD;
    border-radius: 4px;
    padding: 7px 30px;
    margin-top: 5px;
    margin-inline: 15px;
}
.cancel:hover {
    background-color: #BDBDBD;
    color: white; 
    transition: all 1s;
}
.delete {
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: white;
    background-color: var(--button-color1);
    border: none;
    border-radius: 4px;
    padding: 9px 30px;
    margin-top: 5px;
    margin-inline: 15px;
} 
    
.delete:hover {
   background-color: rgb(141, 2, 2);
   transition: all 1s;
}
@media only screen and (max-width: 576px) {
    .modal {
        width: 380px;
        height: 180px;
        padding: 20px;
    }
    
    .modal h3 {
        font-size: 21px;
        line-height: 40px;
    }
    
    .modal p {
        font-size: 18px;
        line-height: 20px;
        width: 84%;
    }    
  }
@media only screen and (max-width: 392px) {
    .modal {
        width: 290px;
        height: 240px;
    }
    
    .modal h3 {
        font-size: 20px;
    }
    
    .modal p {
        font-size: 16px;
    }
    .buttons{
        display: flex;
        flex-direction: column-reverse;
       width: 90%;
       align-items: center;
        
    }
    .cancel {
   width:100%;
    }
    .delete {
     width: 100%;
    } 
        
  }
