.userOrder {
    background-color: var(--box-color3);
    color: var(--text-color3);
    font-family: var(--font-mukta);
    width: 79%;
    padding: 4% 2%;
    height: 550px;
  }
  
  .userOrder h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
  
  
  .orderTable {
    width: 100%;
    border: none;
    background-color: white;
    box-shadow: 0px -1px 0px 0px #DFE2E9 inset;
    margin: 5% 0 3% 0;
  }
  
  .orderTable td {
    font-family: var(--font-openSans);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #00072B;
    padding-block: 8px;
    
  }
  .Id span{
    border-radius: 8px;
    border: 1px solid  #DFE2E9;
    padding: 2px 12px;
  }
  
  tbody img{
    height: 20px;
    margin: 5px 5px 0 50px; 
  }
  .orderTable th {
    padding: 12px;
    font-family: var(--font-openSans);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: #00072B;
  }
  
  .orderTable tbody tr {
    border-block: 1px solid #ddd;
  }
  
  .delivery{
    width: 18%;
  
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
  }
  
  .pagesNum {
    display: flex;
  }
  
  .pagesNum .prevPage {
    font-family: var(--font-openSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    border: 1px solid #FCDDEC;
    color: #BB6BD9;
    padding: 0 15px;
    margin-left: 10px;
    background-color: white;
  }
  
  .pagesNum .nextPage {
    border: none;
    background-color: transparent;
    font-family: var(--font-openSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 14px;
    letter-spacing: 0.25px;
    color: var(--text-color2);
  }
  
  .selectPage {
    display: flex;
    align-items: center;
  }
  
  .selectPage p {
    font-family: var(--font-openSans);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: var(--text-color2);
  }
  
  select {
    border: 1px solid #B0BAC9;
    padding: 0 6px;
    margin-left: 40px;
  }
  
  @media only screen and (max-width: 320px) {
  .pagination{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .userOrder{
    width: 100%;
    margin: 0 auto;
  }
  .selectPage{
    display: none;
  }
  
  .orderTable td {
    font-size: 8px;
    font-weight: 400;
  }
  
  tbody img{
    height: 15px;
    margin-left: 4px;
  }
  .orderTable th {
    padding: 8px;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
  }
  .delivery{
    width: auto;
  }
  }