.userOrder {
  background-color: var(--box-color3);
  color: var(--text-color3);
  font-family: var(--font-mukta);
  width: 79%;
  padding: 4% 2rem;
  height: 570px;
}

.userOrder h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.03em;
}


.orderTable {
  border: none;
  width: 100%;
  background-color: white;
  box-shadow: 0px -1px 0px 0px #DFE2E9 inset;
  margin: 5% 0 3% 0;
  position: relative;
}

.orderTable td {
  font-family: var(--font-openSans);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #00072B;
  padding-block: 13px;
  vertical-align: middle;
}

.Id span {
  border-radius: 8px;
  border: 1px solid #DFE2E9;
  padding: 2px 12px;
}

.orderTable tbody img {
  height: 20px;
  margin: 5px 5px 0 50px;
  cursor: pointer;
}

.orderTable th {
  padding: 12px;
  font-family: var(--font-openSans);
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #00072B;
}

.orderTable tbody tr {
  border-block: 1px solid #ddd;
}

.delivery {
  width: 18%;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.activePage{
  font-family: var(--font-openSans);
  font-size: .8em;
  color:var(--text-color2);
  padding: 9px 7px;
}

.pagesNum {
  display: flex;
}

.pagesNum img {
  cursor: pointer;
}

.pagesNum .prevPage {
  font-family: var(--font-openSans);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  border: 1px solid #FCDDEC;
  color: #BB6BD9;
  padding: 0 15px;
  margin-left: 10px;
  background-color: white;
}

.pagesNum .prevPage:hover {
  background-color: #FCDDEC;
}

.pagesNum .nextPage {
  border: none;
  background-color: transparent;
  font-family: var(--font-openSans);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 14px;
  letter-spacing: 0.25px;
  color: var(--text-color2);
}

.pagesNum .nextPage:hover {
  color: #BB6BD9;
  font-weight: bold;
}

.selectPage {
  display: flex;
  align-items: center;
}

.selectPage p {
  font-family: var(--font-openSans);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: var(--text-color2);
}

.selectPage select {
  width: 55px;
  margin-left: 40px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  border: 1px solid #00000033;
  padding-right: 24px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
  position: relative;
}

.show {
  position: relative;
}

@media only screen and (max-width: 1291px) {
  .userOrder {
    height: 620px;
  }
}

@media only screen and (max-width: 1150px) {
  .userOrder {
    height: 520px;
  }

  .orderTable td {
    font-size: 12px;
  }

  .orderTable th {
    font-size: 12px;
  }

  .Id span {
    padding: 2px 7px;
  }

  .delivery {
    width: 26%;
  }
}

@media only screen and (max-width: 1035px) {
  .orderTable td {
    font-size: 10px;
    font-weight: 400;
  }

  .orderTable th {
    font-size: 11px;
    font-weight: 500;
  }

  .orderTable tbody img {
    margin: 5px 8px 0 12px;
    height: 17px;
  }

  .delivery {
    width: 25%;
  }

  .userOrder {
    padding: 4% 1rem;
  }
}

@media only screen and (max-width: 860px) {
  .userOrder {
    padding: 4% .4rem;
  }

  .userOrder h2 {
    margin-left: 15px;
  }

  .pagination {
    margin-inline: 8px;
  }

  .orderTable td {
    font-size: 8.5px;
    letter-spacing: 0px;
  }

  .orderTable th {
    font-size: 9.5px;
    padding: 8px;
  }

  .orderTable tbody img {
    margin: 5px 8px 0 8px;
    height: 14px;
  }

  .delivery {
    width: 24%;
  }
}

@media only screen and (max-width: 768px) {
  .userOrder h2 {
    font-size: 25px;
  }

  .selectPage p {
    display: none;
  }

  .selectPage select {
    width: 45px;
    margin-left: 20px;
    padding-right: 18px;
    font-size: 14px;
  }

  .pagesNum .prevPage {
    font-size: 12px;
    line-height: 18px;
    padding: 0 12px;
    margin-left: 8px;
  }

  .pagesNum img {
    height: 30px;
  }

  .pagesNum .nextPage {
    font-size: 12px;
    line-height: 20px;
    padding: 0 12px;
  }
}

@media only screen and (max-width: 740px) {
  .userOrder {
    padding: 4% .3rem;
    width: 80%;
  }

  .orderTable td {
    font-size: 7.8px;

  }

  .orderTable th {
    font-size: 9px;
    vertical-align: middle;

  }

  .orderTable tbody img {
    margin: 5px 0 0 4px;
    height: 13px;
  }

  .delivery {
    width: 23%;
  }
}

@media only screen and (max-width: 690px) {
  .userOrder {
    width: 100%;
    margin: 0 auto;
    padding: 4% 1rem;
    background-color: white;
  }

  .orderTable {
    min-width: 650px;
  }

  .tableParent {
    overflow-x: auto;
    width: 100%;
  }

  .orderTable tbody img {
    height: 20px;
    margin: 5px 5px 0 5px;
  }

  .orderTable td {
    font-size: 12px;
    font-weight: 400;
  }

  .Id span {
    padding: 2px 12px;
  }

  .orderTable th {
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
  }

  .delivery {
    width: 25%;
  }

  .hidden {
    display: block;
  }

  .show {
    display: none;
  }
}