/*      Hedaer Css     */
.header {
    padding: 3% 5% 12% 5%;
    background-color: var(--box-color3);
    margin: 0 2% 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.slogan {
    width: 60%;
}

.slogan h1 {
    font-family: var(--font-roboto);
    color: var(--text-color1);
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 66%;
}

.slogan p {
    font-family: var(--font-roboto);
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    width: 68%;
    color: var(--text-color2);
    margin: 25px 0 30px 0;
}

.slogan .register {
    font-family: var(--font-roboto);
    background-color: var(--button-color1);
    border: none;
    border-radius: 30px;
    color: white;
    width: 220px;
    height: 70px;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;


}

.slogan .register:hover{
    background-color: #fa949457;
    border: 2px solid var(--button-color1); 
    color: var(--button-color1);
    transition: all .2s ease-in;
    margin-right: 10px;
}

.slogan .orderNow:hover{
    background-color: #828282;
    color: white;
     box-shadow: 8px 1px 20px 7px #acabab;
    transition: all .3s ease-in;
}

.slogan .orderNow {   
    width: 220px;
    height: 70px;
    border-radius: 30px;
    border: 2px solid #828282;
    color: #828282;
    font-family: var(--font-roboto);
    font-size: 25px;
    font-weight: 500;
    text-align: center;

}

.bgBlack {
    position: relative;

}

.burger {
    bottom: 0;
    right: 0;
    margin-bottom: 10.5%;
    position: absolute;
}

.pizzaHut {
    margin-right: 2%;
    top: 0;
    right: 0;
    position: absolute;
    animation: floatUpDown 3s ease-in-out infinite alternate;
}

@keyframes floatUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }}

.fries {
    bottom: 0;
    right: 0;
    margin-right: 32%;
    margin-bottom: 18%;
    position: absolute;
    animation: floatUpDown 3s ease-in-out infinite alternate;
}

.cheesBrgr {
    bottom: 0;
    right: 0;
    margin-bottom: 8%;
    margin-right: 3%;
    position: absolute;
    animation: floatUpDown 3s ease-in-out infinite alternate;
}
.search{
    display: none;
    position: relative;
}


/* Section-Features */
.features {
    padding: 8% 6%;
}

.h2 {
    font-family: var(--font-roboto);
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    color: var(--text-color1);
    width: 34%;
    margin: 0 auto;
}

.secTxt {
    font-family: var(--font-roboto);
    color: var(--text-color2);
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 15px auto;
    width: 65%;
}

.cards {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.card {
    padding-bottom: 3%;
    margin-inline: 3%;
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.cardTitle {
    font-family: var(--font-roboto);
    font-size: 30px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color3);
    margin: 0;
}

.cardTxt {
    font-family: var(--font-roboto);
    font-size: 18px;
    width: 74%;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--text-color2);
}
/* Discover Restaurants - Explore now */

.exploreNow {
    position: relative;
    height: 400px;
}

.discover {
    margin-inline: 13%;
    background-color: var(--box-color1);
    border-radius: 50px;
    padding: 5% 3%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: -100px;
    right: 0;
}

.discover h2 {
    font-family: var(--font-roboto);
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0.03em;
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

.discover button {
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    padding: 2% 7%;
    color: white;
    border-radius: 30px;
    border: none;
    background-color: var(--button-color2);
}

.discover button:hover {
   background-color: #CF6616;
}

.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/* Css- Media */
@media only screen and (max-width: 1390px) {
    .burger{
        margin-bottom: 8%;
       right: -50px;
    }
    .slogan {
        width: 65%;
    }
    .btns {
        width: 71%;
    }
  }

@media only screen and (max-width: 1310px) {
    .slogan {
        width: 58%;
    }

    .slogan h1 {
        font-size: 50px;
    }

    .btns {
        width: 75%;
    }

    .discover h2 {
        font-size: 45px;
    }
}

/*            Media Css 1290 px         */

@media only screen and (max-width: 1290px) {
   .cardTitle{
    font-size: 21px;
    line-height: 30px;
   }
   .cardTxt{
    font-size: 17px;
    line-height: 30px;
   }
   
   .card {
    padding-bottom: 2%;
}
.discover{
    margin-inline: 10%;
    padding: 4% 3%;
    bottom: -70px;
}
.discover h2{
    font-size: 38px;
    line-height: 55px;
}
.promoTxt{
    width: 70%;
    margin-left: 20px;
}
.btns {
    width: 81%;
}
}

/* Media Css -1210 px */

@media only screen and (max-width: 1210px) {
    .slogan h1 {
        font-size: 40px;
    }

    .burger{
        right: -8px;
        margin-bottom: 10%;
        width: 50%;
    }

    .bgBlack{
        width: 450px;
    }
    .pizzaHut, .fries, .cheesBrgr{
        width: 240px;
    }

    .btns {
        width: 82%;
    }

    .slogan .register{
        width: 180px;
        font-size: 22px;
       height: 60px;
       margin-right: 15px;
    }

    .slogan .orderNow{
        width: 180px;
        font-size: 22px;
        height: 60px;
    }

    .card {
        padding-bottom: 2%;
    }

    .cardTitle {
        font-size: 27px;
    }

    .cardTxt {
        font-size: 16px;
    }
    .discover h2 {
        font-size: 40px;
    }
}


/* Media Css-  1024px */

@media only screen and (max-width: 1024px) {
    .slogan h1 {
        font-size: 38px;
    }

    .slogan p {
        font-size: 17px;
    }

    .slogan .orderNow {
        width: 180px;
        height: 50px;
        font-size: 13px;
    }

    .slogan .register {
        width: 180px;
        height: 50px;
        font-size: 13px;
        margin-right: 5px;
    }

    .card {
        padding-bottom: 1%;
    }

    .cardTitle {
        font-size: 22px;
    }

    .cardTxt {
        font-size: 14px;
        line-height: 20px;
    }

    .card img {
        width: 70%;
    }
    .discover img{
        width: 10rem;
    }
    .discover{
        padding: 2% 4%;
        margin-inline: 11%;
    }

    .discover h2{
        font-size: 30px;
    }
    .h2 {
        font-size: 35px;
    }

    .secTxt {
        font-size: 16px;
    }
    .features h2{
        font-size: 25px;
    }
}
@media only screen and (max-width: 981px){
    .bgBlack{
        width: 360px;
    }
    .burger{
      right: 0;
      margin-bottom: 10%;
    }
    .pizzaHut, .fries, .cheesBrgr{
        width: 220px;
    }
    .slogan h1{
        font-size: 35px;
        line-height: 50px;
    }
}

@media only screen and (max-width: 915px){
    .bgBlack{
        width: 350px;
        margin-bottom: 45px;
    }
    .burger{
      right: -5px;
      margin-bottom: 14%;
    }
    .pizzaHut, .fries, .cheesBrgr{
        width: 200px;
    }
    .cheesBrgr{
        bottom: 50px;
    }
    .fries{
        bottom: 30px;
    }
    .slogan h1{
        font-size: 33px;
    }
    .slogan p{
        width: 90%;
    }
    .slogan{
        width: 45%;
    }
}

@media only screen and (max-width: 865px){
    .slogan{
        width: 50%;
    }
    .slogan h1{
        font-size: 30px;
    }
    .burger{
        margin-bottom: 15%;
        right: 10px;
      }
      .bgBlack{
        width: 370px;
        margin-bottom: 6%;
      }
      .pizzaHut, .fries, .cheesBrgr{
        width: 180px;
    }
    .slogan p{
        width: 85%;
    }
    .fries{
        bottom: 20px;
    }
}
/* Media Css Tablet Mode    */
@media only screen and (max-width: 768px) {

    .header {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0 3% 7% 3%;
    }

    .slogan {
        width: 94%;
    }

    .slogan h1 {
        font-size: 28px;
        line-height: 27px;
        text-align: center;
    }

    .slogan p {
        display: none;
    }

    .btns {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
     .images{
        position: relative;
     }
     .bgBlack{
        width: 300px;
     }
    .burger {
        width:100%;
        bottom: 2rem;
        right:0;
        margin: 0 auto;
    }
     .bgBlack{
        margin-block: 2rem;
     }
    .pizzaHut {
     width: 170px;
     top: 0;
     right: -30px;
    }

    .fries {
        bottom: 11%;
        right: 60%;
        margin-right: 0;
        margin-bottom: 0;
        width: 160px;
    }
    
    .cheesBrgr {
        display: none;
    }

    .slogan .register {
        width: 193px;
        height: 43px;
        font-size: 18px;
        margin: 13px 0;
    }


    .slogan .orderNow {
        width: 193px;
        height: 43px;
        font-size: 18px;
    }

    .h2 {
        font-size: 25px;
        line-height: 50px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    .secTxt {
        font-size: 16px;
        line-height: 30px;
        margin: 15px auto;
        width: 100%;
    }

    .card {
        margin-block: 5px;
        padding-bottom: 1%;
    }

    .cardTitle {
        font-size: 16px;
        line-height: 28px;
        margin: 0;
    }

    .cardTxt {
        font-size: 13px;
        width: 98%;
        line-height: 22px;
    }
    .exploreNow {
        height: 280px;
    }

    .discover {
        margin-inline: 7%;
        padding: 2% 5%;
        position: absolute;
        bottom: -50px;
        border-radius: 48px;
        right: 0;
    }

    .discover img {
        width: 28%;
    }

    .discover h2 {
        font-size: 18px;
        line-height: 31px;
        text-align: center;
        width: 76%;
        margin-bottom: 10px;
    }

    .discover button {
        font-size: 14px;
        line-height: 24px;
        padding: 2% 10%;
    }

    .explore {
        justify-content: space-evenly;
    }
}

 /*       Media Css   -   Mobile Mode */
@media only screen and (max-width: 576px) {
    .slogan h1 {
        font-size: 22px;
    }
    .cards {
        margin-top: 4%;
        display: flex;
        flex-direction: column;
    }

    .card {
        margin-block: 5px;
        padding-bottom: 3%;
    }
.card img{
    width: 40%;
}
    .cardTitle {
        font-size: 20px;
    }

    .cardTxt {
        font-size: 16px;
    }

    .discover {
        padding: 4% 5%;
        bottom: -40px;
    }
    .discover h2{
        font-size: 16px;
        line-height: 22px;
    }
}

@media only screen and (max-width: 392px) {
    .search{
        display: block;
        border: none;
        border-radius: 30px;
        padding: 12px 15px;
        width:200px; 
        margin-top: 15px;
    }
    .search::placeholder {
        font-family: var(--font-roboto);
        color: black;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        line-height: 18.75px;
    }
    .pizzaHut{
        right: 5px;
        width: 155px;
    }
    .fries{
        bottom:0;
        right: 10rem;
        width: 155px;
    }
}


@media only screen and (max-width: 320px) {
    .card {
        padding-bottom: 8%;
    }
    .card img{
        width: 63%;
    }

    .discover {
        padding: 10% 5%;
    }

    .discover img {
        display: none;
    }
    .fries{
        right: 8rem;
        bottom: 3%;
    }
}